{% extends '../base.html' %}
{% load static %}
{% block title %} Todos Page {% endblock %}

{% block style_content %}
<style>
    .todo {
        display:flex;
        justify-content: space-between;
        padding:1.3rem 1rem;
        min-height: 30px;
        align-items: center;
        background-color: rgb(240, 238, 234);
        margin-top: 1rem;
        position:relative;
    }
    article {
        width:70%;
        word-wrap: break-word;
        
    }
    .badges {
        position:absolute;
        top:-5px;
        left:0;
    }
    small {
        font-size:1.25rem;
    }
    .fa-trash {
        color:red;
        cursor: pointer;
    }
    .fa-pen {
        color:blue;
        cursor: pointer;
    }
    .clg {
        margin:0 10px;
    }
    .alert-link {
        text-decoration: underline;
    }
</style>
{% endblock %}

{% block content %}

<div class="container pt-3">
    {% include '../messages/message.html' %}
    <h3 class="mt-2">Todo Lists <span class="badge badge-secondary">{{todo_count}}</span></h3>
    <div class="todos">
        {% for todo in todos %}
        <div class="todo">
            <article> 
                <span class="badges">
                    <span class="badge badge-info mr-2">Created: {{todo.created_date|date:'m F Y'}}</span>
                    <span class="badge badge-danger mr-2">Updated: {{todo.updated_date|date:'m F Y H:i'}}</span>
                </span>
                {{todo.description}}
            </article>
            <small>
                {% if todo.status == "True" %}
                <span class="badge badge-success mr-2">{{todo.status}}</span>
                {% else %}
                <span class="badge badge-warning mr-2">{{todo.status}}</span>
                {% endif %}
            <a href="{% url 'todo-update' todo.id %}"><i title="Edit" class="fas fa-pen clg"></i></a>
            <i title="Delete" data-toggle="modal" data-target="#exampleModal" class="fas fa-trash"></i>
        </small>
        <!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Delete Todo</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          Are you sure want to delete this todo?
        </div>
        <div class="modal-footer">
          <a class="btn btn-danger" href="{% url 'todo-delete' todo.id %}">Delete</a>
          <button type="button" class="btn btn-primary">Close</button>
        </div>
      </div>
    </div>
  </div>
        </div>
        {% empty %}
        <div class="alert alert-secondary" role="alert">
            You dont have any items. <a href="{% url 'todo-create' %}" class="alert-link">Add todo</a>
          </div>
        {% endfor %}
    </div>
</div>



{% endblock %}