{% if messages %}
        {% for message in messages %}
        {% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
        <div class="alert alert-success" role="alert">
            {{message}}
          </div>
          {% else %}
          <div class="alert alert-danger" role="alert">
            {{message}}
          </div>
          {% endif %}
        {% endfor %}
{% endif %}